<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smalltomato.dao.StockMapper">
  <resultMap id="BaseResultMap" type="com.smalltomato.bean.Stock">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <id column="date" jdbcType="VARCHAR" property="date" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="opening" jdbcType="VARCHAR" property="opening" />
    <result column="yesterday_close" jdbcType="VARCHAR" property="yesterdayClose" />
    <result column="highest" jdbcType="VARCHAR" property="highest" />
    <result column="lowest" jdbcType="VARCHAR" property="lowest" />
    <result column="total_volume" jdbcType="VARCHAR" property="totalVolume" />
    <result column="total_limit" jdbcType="VARCHAR" property="totalLimit" />
    <result column="buy_one_volume" jdbcType="VARCHAR" property="buyOneVolume" />
    <result column="buy_two_volume" jdbcType="VARCHAR" property="buyTwoVolume" />
    <result column="buy_three_volume" jdbcType="VARCHAR" property="buyThreeVolume" />
    <result column="buy_four_volume" jdbcType="VARCHAR" property="buyFourVolume" />
    <result column="buy_five_volume" jdbcType="VARCHAR" property="buyFiveVolume" />
    <result column="buy_one_price" jdbcType="VARCHAR" property="buyOnePrice" />
    <result column="buy_two_price" jdbcType="VARCHAR" property="buyTwoPrice" />
    <result column="buy_three_price" jdbcType="VARCHAR" property="buyThreePrice" />
    <result column="buy_four_price" jdbcType="VARCHAR" property="buyFourPrice" />
    <result column="buy_five_price" jdbcType="VARCHAR" property="buyFivePrice" />
    <result column="sell_one_volume" jdbcType="VARCHAR" property="sellOneVolume" />
    <result column="sell_two_volume" jdbcType="VARCHAR" property="sellTwoVolume" />
    <result column="sell_three_volume" jdbcType="VARCHAR" property="sellThreeVolume" />
    <result column="sell_four_volume" jdbcType="VARCHAR" property="sellFourVolume" />
    <result column="sell_five_volume" jdbcType="VARCHAR" property="sellFiveVolume" />
    <result column="sell_one_price" jdbcType="VARCHAR" property="sellOnePrice" />
    <result column="sell_two_price" jdbcType="VARCHAR" property="sellTwoPrice" />
    <result column="sell_three_price" jdbcType="VARCHAR" property="sellThreePrice" />
    <result column="sell_four_price" jdbcType="VARCHAR" property="sellFourPrice" />
    <result column="sell_five_price" jdbcType="VARCHAR" property="sellFivePrice" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    code, date, name, opening, yesterday_close, highest, lowest, total_volume, total_limit, 
    buy_one_volume, buy_two_volume, buy_three_volume, buy_four_volume, buy_five_volume, 
    buy_one_price, buy_two_price, buy_three_price, buy_four_price, buy_five_price, sell_one_volume, 
    sell_two_volume, sell_three_volume, sell_four_volume, sell_five_volume, sell_one_price, 
    sell_two_price, sell_three_price, sell_four_price, sell_five_price, time, create_date
  </sql>
  <select id="selectByExample" parameterType="com.smalltomato.bean.StockExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stock_1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.smalltomato.bean.StockKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stock_1
    where code = #{code,jdbcType=VARCHAR}
      and date = #{date,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.smalltomato.bean.StockKey">
    delete from stock_1
    where code = #{code,jdbcType=VARCHAR}
      and date = #{date,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.smalltomato.bean.StockExample">
    delete from stock_1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smalltomato.bean.Stock">
    insert into stock_1 (code, date, name, 
      opening, yesterday_close, highest, 
      lowest, total_volume, total_limit, 
      buy_one_volume, buy_two_volume, buy_three_volume, 
      buy_four_volume, buy_five_volume, buy_one_price, 
      buy_two_price, buy_three_price, buy_four_price, 
      buy_five_price, sell_one_volume, sell_two_volume, 
      sell_three_volume, sell_four_volume, sell_five_volume, 
      sell_one_price, sell_two_price, sell_three_price, 
      sell_four_price, sell_five_price, time, 
      create_date)
    values (#{code,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{opening,jdbcType=VARCHAR}, #{yesterdayClose,jdbcType=VARCHAR}, #{highest,jdbcType=VARCHAR}, 
      #{lowest,jdbcType=VARCHAR}, #{totalVolume,jdbcType=VARCHAR}, #{totalLimit,jdbcType=VARCHAR}, 
      #{buyOneVolume,jdbcType=VARCHAR}, #{buyTwoVolume,jdbcType=VARCHAR}, #{buyThreeVolume,jdbcType=VARCHAR}, 
      #{buyFourVolume,jdbcType=VARCHAR}, #{buyFiveVolume,jdbcType=VARCHAR}, #{buyOnePrice,jdbcType=VARCHAR}, 
      #{buyTwoPrice,jdbcType=VARCHAR}, #{buyThreePrice,jdbcType=VARCHAR}, #{buyFourPrice,jdbcType=VARCHAR}, 
      #{buyFivePrice,jdbcType=VARCHAR}, #{sellOneVolume,jdbcType=VARCHAR}, #{sellTwoVolume,jdbcType=VARCHAR}, 
      #{sellThreeVolume,jdbcType=VARCHAR}, #{sellFourVolume,jdbcType=VARCHAR}, #{sellFiveVolume,jdbcType=VARCHAR}, 
      #{sellOnePrice,jdbcType=VARCHAR}, #{sellTwoPrice,jdbcType=VARCHAR}, #{sellThreePrice,jdbcType=VARCHAR}, 
      #{sellFourPrice,jdbcType=VARCHAR}, #{sellFivePrice,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smalltomato.bean.Stock">
    insert into stock_1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="opening != null">
        opening,
      </if>
      <if test="yesterdayClose != null">
        yesterday_close,
      </if>
      <if test="highest != null">
        highest,
      </if>
      <if test="lowest != null">
        lowest,
      </if>
      <if test="totalVolume != null">
        total_volume,
      </if>
      <if test="totalLimit != null">
        total_limit,
      </if>
      <if test="buyOneVolume != null">
        buy_one_volume,
      </if>
      <if test="buyTwoVolume != null">
        buy_two_volume,
      </if>
      <if test="buyThreeVolume != null">
        buy_three_volume,
      </if>
      <if test="buyFourVolume != null">
        buy_four_volume,
      </if>
      <if test="buyFiveVolume != null">
        buy_five_volume,
      </if>
      <if test="buyOnePrice != null">
        buy_one_price,
      </if>
      <if test="buyTwoPrice != null">
        buy_two_price,
      </if>
      <if test="buyThreePrice != null">
        buy_three_price,
      </if>
      <if test="buyFourPrice != null">
        buy_four_price,
      </if>
      <if test="buyFivePrice != null">
        buy_five_price,
      </if>
      <if test="sellOneVolume != null">
        sell_one_volume,
      </if>
      <if test="sellTwoVolume != null">
        sell_two_volume,
      </if>
      <if test="sellThreeVolume != null">
        sell_three_volume,
      </if>
      <if test="sellFourVolume != null">
        sell_four_volume,
      </if>
      <if test="sellFiveVolume != null">
        sell_five_volume,
      </if>
      <if test="sellOnePrice != null">
        sell_one_price,
      </if>
      <if test="sellTwoPrice != null">
        sell_two_price,
      </if>
      <if test="sellThreePrice != null">
        sell_three_price,
      </if>
      <if test="sellFourPrice != null">
        sell_four_price,
      </if>
      <if test="sellFivePrice != null">
        sell_five_price,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="opening != null">
        #{opening,jdbcType=VARCHAR},
      </if>
      <if test="yesterdayClose != null">
        #{yesterdayClose,jdbcType=VARCHAR},
      </if>
      <if test="highest != null">
        #{highest,jdbcType=VARCHAR},
      </if>
      <if test="lowest != null">
        #{lowest,jdbcType=VARCHAR},
      </if>
      <if test="totalVolume != null">
        #{totalVolume,jdbcType=VARCHAR},
      </if>
      <if test="totalLimit != null">
        #{totalLimit,jdbcType=VARCHAR},
      </if>
      <if test="buyOneVolume != null">
        #{buyOneVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyTwoVolume != null">
        #{buyTwoVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyThreeVolume != null">
        #{buyThreeVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyFourVolume != null">
        #{buyFourVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyFiveVolume != null">
        #{buyFiveVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyOnePrice != null">
        #{buyOnePrice,jdbcType=VARCHAR},
      </if>
      <if test="buyTwoPrice != null">
        #{buyTwoPrice,jdbcType=VARCHAR},
      </if>
      <if test="buyThreePrice != null">
        #{buyThreePrice,jdbcType=VARCHAR},
      </if>
      <if test="buyFourPrice != null">
        #{buyFourPrice,jdbcType=VARCHAR},
      </if>
      <if test="buyFivePrice != null">
        #{buyFivePrice,jdbcType=VARCHAR},
      </if>
      <if test="sellOneVolume != null">
        #{sellOneVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellTwoVolume != null">
        #{sellTwoVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellThreeVolume != null">
        #{sellThreeVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellFourVolume != null">
        #{sellFourVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellFiveVolume != null">
        #{sellFiveVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellOnePrice != null">
        #{sellOnePrice,jdbcType=VARCHAR},
      </if>
      <if test="sellTwoPrice != null">
        #{sellTwoPrice,jdbcType=VARCHAR},
      </if>
      <if test="sellThreePrice != null">
        #{sellThreePrice,jdbcType=VARCHAR},
      </if>
      <if test="sellFourPrice != null">
        #{sellFourPrice,jdbcType=VARCHAR},
      </if>
      <if test="sellFivePrice != null">
        #{sellFivePrice,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smalltomato.bean.StockExample" resultType="java.lang.Long">
    select count(*) from stock_1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update stock_1
    <set>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.opening != null">
        opening = #{record.opening,jdbcType=VARCHAR},
      </if>
      <if test="record.yesterdayClose != null">
        yesterday_close = #{record.yesterdayClose,jdbcType=VARCHAR},
      </if>
      <if test="record.highest != null">
        highest = #{record.highest,jdbcType=VARCHAR},
      </if>
      <if test="record.lowest != null">
        lowest = #{record.lowest,jdbcType=VARCHAR},
      </if>
      <if test="record.totalVolume != null">
        total_volume = #{record.totalVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.totalLimit != null">
        total_limit = #{record.totalLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.buyOneVolume != null">
        buy_one_volume = #{record.buyOneVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.buyTwoVolume != null">
        buy_two_volume = #{record.buyTwoVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.buyThreeVolume != null">
        buy_three_volume = #{record.buyThreeVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.buyFourVolume != null">
        buy_four_volume = #{record.buyFourVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.buyFiveVolume != null">
        buy_five_volume = #{record.buyFiveVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.buyOnePrice != null">
        buy_one_price = #{record.buyOnePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.buyTwoPrice != null">
        buy_two_price = #{record.buyTwoPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.buyThreePrice != null">
        buy_three_price = #{record.buyThreePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.buyFourPrice != null">
        buy_four_price = #{record.buyFourPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.buyFivePrice != null">
        buy_five_price = #{record.buyFivePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.sellOneVolume != null">
        sell_one_volume = #{record.sellOneVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.sellTwoVolume != null">
        sell_two_volume = #{record.sellTwoVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.sellThreeVolume != null">
        sell_three_volume = #{record.sellThreeVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.sellFourVolume != null">
        sell_four_volume = #{record.sellFourVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.sellFiveVolume != null">
        sell_five_volume = #{record.sellFiveVolume,jdbcType=VARCHAR},
      </if>
      <if test="record.sellOnePrice != null">
        sell_one_price = #{record.sellOnePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.sellTwoPrice != null">
        sell_two_price = #{record.sellTwoPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.sellThreePrice != null">
        sell_three_price = #{record.sellThreePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.sellFourPrice != null">
        sell_four_price = #{record.sellFourPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.sellFivePrice != null">
        sell_five_price = #{record.sellFivePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update stock_1
    set code = #{record.code,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      opening = #{record.opening,jdbcType=VARCHAR},
      yesterday_close = #{record.yesterdayClose,jdbcType=VARCHAR},
      highest = #{record.highest,jdbcType=VARCHAR},
      lowest = #{record.lowest,jdbcType=VARCHAR},
      total_volume = #{record.totalVolume,jdbcType=VARCHAR},
      total_limit = #{record.totalLimit,jdbcType=VARCHAR},
      buy_one_volume = #{record.buyOneVolume,jdbcType=VARCHAR},
      buy_two_volume = #{record.buyTwoVolume,jdbcType=VARCHAR},
      buy_three_volume = #{record.buyThreeVolume,jdbcType=VARCHAR},
      buy_four_volume = #{record.buyFourVolume,jdbcType=VARCHAR},
      buy_five_volume = #{record.buyFiveVolume,jdbcType=VARCHAR},
      buy_one_price = #{record.buyOnePrice,jdbcType=VARCHAR},
      buy_two_price = #{record.buyTwoPrice,jdbcType=VARCHAR},
      buy_three_price = #{record.buyThreePrice,jdbcType=VARCHAR},
      buy_four_price = #{record.buyFourPrice,jdbcType=VARCHAR},
      buy_five_price = #{record.buyFivePrice,jdbcType=VARCHAR},
      sell_one_volume = #{record.sellOneVolume,jdbcType=VARCHAR},
      sell_two_volume = #{record.sellTwoVolume,jdbcType=VARCHAR},
      sell_three_volume = #{record.sellThreeVolume,jdbcType=VARCHAR},
      sell_four_volume = #{record.sellFourVolume,jdbcType=VARCHAR},
      sell_five_volume = #{record.sellFiveVolume,jdbcType=VARCHAR},
      sell_one_price = #{record.sellOnePrice,jdbcType=VARCHAR},
      sell_two_price = #{record.sellTwoPrice,jdbcType=VARCHAR},
      sell_three_price = #{record.sellThreePrice,jdbcType=VARCHAR},
      sell_four_price = #{record.sellFourPrice,jdbcType=VARCHAR},
      sell_five_price = #{record.sellFivePrice,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smalltomato.bean.Stock">
    update stock_1
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="opening != null">
        opening = #{opening,jdbcType=VARCHAR},
      </if>
      <if test="yesterdayClose != null">
        yesterday_close = #{yesterdayClose,jdbcType=VARCHAR},
      </if>
      <if test="highest != null">
        highest = #{highest,jdbcType=VARCHAR},
      </if>
      <if test="lowest != null">
        lowest = #{lowest,jdbcType=VARCHAR},
      </if>
      <if test="totalVolume != null">
        total_volume = #{totalVolume,jdbcType=VARCHAR},
      </if>
      <if test="totalLimit != null">
        total_limit = #{totalLimit,jdbcType=VARCHAR},
      </if>
      <if test="buyOneVolume != null">
        buy_one_volume = #{buyOneVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyTwoVolume != null">
        buy_two_volume = #{buyTwoVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyThreeVolume != null">
        buy_three_volume = #{buyThreeVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyFourVolume != null">
        buy_four_volume = #{buyFourVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyFiveVolume != null">
        buy_five_volume = #{buyFiveVolume,jdbcType=VARCHAR},
      </if>
      <if test="buyOnePrice != null">
        buy_one_price = #{buyOnePrice,jdbcType=VARCHAR},
      </if>
      <if test="buyTwoPrice != null">
        buy_two_price = #{buyTwoPrice,jdbcType=VARCHAR},
      </if>
      <if test="buyThreePrice != null">
        buy_three_price = #{buyThreePrice,jdbcType=VARCHAR},
      </if>
      <if test="buyFourPrice != null">
        buy_four_price = #{buyFourPrice,jdbcType=VARCHAR},
      </if>
      <if test="buyFivePrice != null">
        buy_five_price = #{buyFivePrice,jdbcType=VARCHAR},
      </if>
      <if test="sellOneVolume != null">
        sell_one_volume = #{sellOneVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellTwoVolume != null">
        sell_two_volume = #{sellTwoVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellThreeVolume != null">
        sell_three_volume = #{sellThreeVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellFourVolume != null">
        sell_four_volume = #{sellFourVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellFiveVolume != null">
        sell_five_volume = #{sellFiveVolume,jdbcType=VARCHAR},
      </if>
      <if test="sellOnePrice != null">
        sell_one_price = #{sellOnePrice,jdbcType=VARCHAR},
      </if>
      <if test="sellTwoPrice != null">
        sell_two_price = #{sellTwoPrice,jdbcType=VARCHAR},
      </if>
      <if test="sellThreePrice != null">
        sell_three_price = #{sellThreePrice,jdbcType=VARCHAR},
      </if>
      <if test="sellFourPrice != null">
        sell_four_price = #{sellFourPrice,jdbcType=VARCHAR},
      </if>
      <if test="sellFivePrice != null">
        sell_five_price = #{sellFivePrice,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
      and date = #{date,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smalltomato.bean.Stock">
    update stock_1
    set name = #{name,jdbcType=VARCHAR},
      opening = #{opening,jdbcType=VARCHAR},
      yesterday_close = #{yesterdayClose,jdbcType=VARCHAR},
      highest = #{highest,jdbcType=VARCHAR},
      lowest = #{lowest,jdbcType=VARCHAR},
      total_volume = #{totalVolume,jdbcType=VARCHAR},
      total_limit = #{totalLimit,jdbcType=VARCHAR},
      buy_one_volume = #{buyOneVolume,jdbcType=VARCHAR},
      buy_two_volume = #{buyTwoVolume,jdbcType=VARCHAR},
      buy_three_volume = #{buyThreeVolume,jdbcType=VARCHAR},
      buy_four_volume = #{buyFourVolume,jdbcType=VARCHAR},
      buy_five_volume = #{buyFiveVolume,jdbcType=VARCHAR},
      buy_one_price = #{buyOnePrice,jdbcType=VARCHAR},
      buy_two_price = #{buyTwoPrice,jdbcType=VARCHAR},
      buy_three_price = #{buyThreePrice,jdbcType=VARCHAR},
      buy_four_price = #{buyFourPrice,jdbcType=VARCHAR},
      buy_five_price = #{buyFivePrice,jdbcType=VARCHAR},
      sell_one_volume = #{sellOneVolume,jdbcType=VARCHAR},
      sell_two_volume = #{sellTwoVolume,jdbcType=VARCHAR},
      sell_three_volume = #{sellThreeVolume,jdbcType=VARCHAR},
      sell_four_volume = #{sellFourVolume,jdbcType=VARCHAR},
      sell_five_volume = #{sellFiveVolume,jdbcType=VARCHAR},
      sell_one_price = #{sellOnePrice,jdbcType=VARCHAR},
      sell_two_price = #{sellTwoPrice,jdbcType=VARCHAR},
      sell_three_price = #{sellThreePrice,jdbcType=VARCHAR},
      sell_four_price = #{sellFourPrice,jdbcType=VARCHAR},
      sell_five_price = #{sellFivePrice,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where code = #{code,jdbcType=VARCHAR}
      and date = #{date,jdbcType=VARCHAR}
  </update>
</mapper>